@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PressStart2P';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'PressStart2P', system-ui, sans-serif;
}
